:host {
  width: 33%;
  display: inline-block;
}

.app-create-match {
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
}

.create-match-form {
  width: 200px;
  display: flex;
  flex-direction: column;
}
